@model IEnumerable<IGrouping<string, Ticket>>

@{
    ViewData["Title"] = "Список билетов";
}

<h1>Список билетов</h1>

@foreach (var group in Model)
{
    var first = group.First();
    var train = first.PlaceInstance.Car.TrainCar.Train;
    var fromTime = train.GetTimeAtPoint(first.FromPoint);
    var toTime = train.GetTimeAtPoint(first.ToPoint);
    <h2>@first.FromPoint.Station.Name — @first.ToPoint.Station.Name @fromTime.ToLongDateString()</h2>
    <p>Поезд @train.GetFullName() @train.GetRouteDescription()</p>
    <p>Отправление: @fromTime</p>
    <p>Прибытие: @toTime</p>
    <p>Время в пути @(toTime - fromTime)</p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Вагон
                </th>
                <th>
                    Место
                </th>
                <th>
                    ФИО
                </th>
                <th>
                    Тип документа
                </th>
                <th>
                    Номер документа
                </th>
                <th>
                    Оплачен
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ticket in group)
            {
            <tr>
                <td>
                    @ticket.PlaceInstance.Car.TrainCar.Number (@ticket.PlaceInstance.Car.ServiceClass)
                </td>
                <td>
                    @ticket.PlaceInstance.Number (@ticket.PlaceInstance.GetDescription())
                </td>
                <td>
                    @ticket.PassengerName
                </td>
                <td>
                    @ticket.DocumentType
                </td>
                <td>
                    @ticket.DocumentNumber
                </td>
                <td>
                    @if (ticket.Paid)
                    {
                        <text>Оплачен</text>
                    }
                    else
                    {
                        <text>Не оплачен</text><br />
                        <a asp-action="Pay" asp-route-id="@ticket.Id" class="btn btn-primary">Оплатить</a>
                        <a asp-action="Delete" asp-route-id="@ticket.Id" class="btn btn-danger">Удалить</a>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
}